#directories
.cache/
.cargo/
.config/dconf/
.config/emacs/
.config/google-chrome/
.gnupg/
.mozilla/
.ssh/
Downloads/
dev/
doc/

# files
.Xauthority
.cfg
.dmrc
.lesshst
.python_history
.wget-hsts
.xsession-errors
.xsession-errors.old
