#directories
.cache/
.cargo/
.config/BraveSoftware/
.config/Code/
.config/GIMP/
.config/Microsoft/
.config/VCG/
.config/balena-etcher/
.config/bleachbit/
.config/bpytop/
.config/brittany/
.config/configstore/
.config/dconf/
.config/emacs/
.config/font-manager/
.config/fontconfig/
.config/google-chrome/
.config/htop/
.config/ibus/
.config/lxsession/
.config/manjaro/
.config/menus/
.config/neofetch/
.config/nitrogen/
.config/paru/
.config/pulse/
.config/qt5ct/
.config/qutebrowser/
.config/stacer/
.config/systemd/
.config/teams/
.dropbox-dist/
.dropbox/
.gnome/
.gnupg/
.icons/
.ipython/
.local/
.mozilla/
.npm/
.nv/
.pki/
.ssh/
.vnc/
.vscode/
Downloads/
Dropbox/
dev/
doc/

# files
.Xauthority
.cfg
.config/QtProject.conf
.config/xmonad/xmonad.hi
.config/xmonad/xmonad.o
.config/doom/config.el
.config/doom/packages.el
.dmrc
.lesshst
.node_repl_history
.nvidia-settings-rc
.python_history
.viminfo
.wget-hsts
.xsession-errors
.xsession-errors.old
org
